body {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    height: 50px;
    padding: 0 150px;
}

.right-header {
    color: #E5E7EB;
    
}

.left-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    flex: 1;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 100px 150px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.left-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    color: #E5E7EB;
    flex-basis: 500px;
}

.right-hero {
    background-color: grey;
    color: white;
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 500px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    color: #F9FAF8;
    margin-top: 10px;
}

.info {
    padding: 40px 0px;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.info-main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-box {
    flex-basis: 150px;
}

.info-image{
    border: solid #3882F6;
    width: 144px;
    height: 144px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.info-text {
    color: #1F2937;
    text-align: center;
}